<ion-view view-title="{{ name }}">
    <ion-content>

        <div class="list">
            <div
                ng-if="data.nombre && data.valor && data.unidad_medida"
                ng-repeat="data in dailyIndicators">
                <div class="item item-divider">
                    <h2>{{ data.nombre }}</h2>
                </div>
                <div class="item">
                    <h1>
                        {{ data.valor }}
                        <p>{{ data.unidad_medida }}</p>
                    </h1>
                </div>
            </div>
        </div>




    </ion-content>
</ion-view>
